<%-include('../adminView/include/ad_header')-%>
<%-include('../adminView/include/_sidebar')-%>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
    function validateForm() {
        var categoryNameInput = document.forms["addCategoryForm"]["categoryName"].value;
        var errorContainer = document.getElementById("errorContainer");

        if (categoryNameInput.trim() === "") {
            errorContainer.innerText = 'Category Name cannot be empty or contain only spaces.';
            errorContainer.style.color = 'red';
            return false;
        }

        return confirm('Do you want to add a new Category?');
    }
</script>

<div class="text-center center-div d-flex align-items-center justify-content-center py-5">
    <div class="container w-25 rounded border py-4 bg-muted">
        <div class="title pb-1">
            <h2 class="font-weight-bold text-dark">Add Categories</h2>
        </div>
        <% if(err){ %>
            <script>
                Swal.fire({
                    icon: 'error',
                    title: 'Error!',
                    text: '<%= err %>',
                });
            </script>
        <% } else if(success){ %>
            <script>
                Swal.fire({
                    icon: 'success',
                    title: 'Success!',
                    text: '<%= success %>',
                });
            </script>
        <% } %>
        <form name="addCategoryForm" action="/admin/add-category" method="POST" onsubmit="return validateForm()">  
            <div class="form-group">
                <small class="form-text text-white text-left">Categories Name</small>
                <input class="form-control" name="categoryName" required placeholder="Category Name">
                <div id="errorContainer"></div>
            </div>
            
            <button type="submit" class="btn btn-success rounded pi">Add</button>
        </form>
    </div>
</div>
