<%-include('../adminView/include/ad_header')-%>
<%-include('../adminView/include/_sidebar')-%>

    <div class="text-center center-div d-flex align-items-center justify-content-center py-4" >
        <div class="container w-25 rounded border py-4 bg-muted">
            <div class="title pb-1">
                <h2 class="font-weight-bold text-daek">Add Brand</h2>
            </div>
            <% if(err){ %>
                <h6 style="margin: 5px; color: red;"><%-err%></h6>
              <% }else if(success){ %>
                <h6 style="margin: 5px; color: rgb(10, 105, 7);"><%-success%></h6>
                <%}%>
            <form action="/admin/add-brand" method="POST" >  
                <div class="form-group">
                    <small class="form-text text-white text-left">Brand Name</small>
                    <input class="form-control" name="brandName" required placeholder="Brand Name">
                </div>
                
                <button onclick="return confirm('Do you want new Brand')" type="submit" class="btn-btn-success rounded pi" style="background-color: rgb(59, 196, 59);">Add</button>
            </form>
        </div>
    </div>



    