<%-include('../adminView/include/ad_header')-%>
<%-include('../adminView/include/_sidebar')-%>

        <div
            style="position: absolute;top: 10%;right:3.7%; background-color: rgb(30, 32, 119); padding: 5px 10px; border-radius: 5px;">
            <a href="/admin/add-productPage" style="color: #fff; text-decoration: none;">Add Product</a>
            <i class="fa-solid fa-person-walking-dashed-line-arrow-right " style="color: #f6f0f0;"></i>
        </div>
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th scope="col">No</th>
                    <th scope="col">Name</th>
                    <th scope="col">Stock</th>
                    <th scope="col">Catogary</th>
                    <th scope="col">Price</th>
                    <th scope="col">Status</th>
                    <th scope="col">Image</th>
                    <th scope="col">Udated Date</th>
                    <th scope="col">Edit/Delete</th>
                </tr>
            </thead>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
            </tr>
            </div>

            </tbody>
              
        </table>