
    <!-- Sidebar -->
    <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse " 
    style="border: 2px solid rgb(78, 68, 68); box-shadow: 5px 0 5px rgba(53, 48, 48, 0.3);">
      <div class="position-sticky">
        <div class="list-group list-group-flush mx-4 mt-4">
             <a class="navbar-brand" href="/admin/dashboard">
          <img src="/images/Mobi Cart Logo.png" height="60" width="170"alt="Logo" loading="lazy"/>
        </a>
        <br>
        <h5 style="padding-left: 25px;"><b><i>CLINT P S</i></b></h5>
        <br>
          <a href="/admin/dashboard" class="list-group-item list-group-item-action py-2 ripple"
            aria-current="true">
            <i class="fas fa-tachometer-alt fa-fw me-3"></i><span><i>Dashboard</i></span>
          </a>
          <a href="/admin/productPage" class="list-group-item list-group-item-action py-2 ripple ">
            <i class="fas fa-chart-area fa-fw me-3"></i><span><i>Products</i></span>
          </a>
          <a href="/admin/userDetails" class="list-group-item list-group-item-action py-2 ripple"
            ><i class="fas fa-chart-bar fa-fw me-3"></i><span><i>Coustomer</i></span></a
          >
          <a href="/admin/category" class="list-group-item list-group-item-action py-2 ripple"
            ><i class="fas fa-lock fa-fw me-3"></i><span><i>Categories</i></span></a
          >
          <a href="/admin/brand" class="list-group-item list-group-item-action py-2 ripple"
          ><i class="fas fa-bars fa-fw me-3"></i><span><i>Brand</i></span></a
          >
          <a href="/admin/categoryOffer" class="list-group-item list-group-item-action py-2 ripple"
          ><i class="fas fa-gift fa-fw me-3"></i><span><i>Category Offer</i></span></a
          >
          <a href="/admin/Coupons" class="list-group-item list-group-item-action py-2 ripple"
            ><i class="fas fa-building fa-fw me-3"></i><span><i>Coupons</i></span></a
          >
          <a href="/admin/OrderControl" class="list-group-item list-group-item-action py-2 ripple"
            ><i class="fas fa-globe fa-fw me-3"></i><span><i>User Orders</i></span></a
          >
          <a href="/admin/ReturnOrder" class="list-group-item list-group-item-action py-2 ripple"
            ><i class="fas fa-undo fa-fw me-3"></i><span><i>Return Orders</i></span></a
          >
          <a href="/admin/Banner" class="list-group-item list-group-item-action py-2 ripple"
            ><i class="fas fa-image fa-fw me-3"></i><span><i>Banner</i></span></a
          >
          <br>
          <br>
          <a href="/admin/adLogout" class="list-group-item list-group-item-action py-2 ripple"
            ><i class="fas fa-users fa-fw me-3"></i><span><i>Logout</i></span></a
          >
          
        </div>
      </div>
    </nav>
    <!-- Sidebar -->
    
