
    <!-- Sidebar -->
    <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white" 
    style="border: 2px solid black; box-shadow: 5px 0 5px rgba(0, 0, 0, 0.3);">
      <div class="position-sticky">
        <div class="list-group list-group-flush mx-3 mt-4">
             <a class="navbar-brand" href="#">
          <img
            src="/images/Mobi Cart Logo.png"
            height="60"
            width="170"
            alt=""
            loading="lazy"
          />
        </a>
        <h5 style="padding-left: 25px;">CLINT P S</h5>
        <br>
          <a
            href="/admin/dashboard"
            class="list-group-item list-group-item-action py-2 ripple"
            aria-current="true"
          >
            <i class="fas fa-tachometer-alt fa-fw me-3"></i><span>Dashboard</span>
          </a>
          <a href="/admin/userDetails" class="list-group-item list-group-item-action py-2 ripple"
            ><i class="fas fa-chart-bar fa-fw me-3"></i><span>Coustomer</span></a
          >
          <a href="/admin/productPage" class="list-group-item list-group-item-action py-2 ripple ">
            <i class="fas fa-chart-area fa-fw me-3"></i><span>Products</span>
          </a>
          <a href="/admin/category" class="list-group-item list-group-item-action py-2 ripple"
            ><i class="fas fa-lock fa-fw me-3"></i><span>Categories</span></a
          >
          <a href="/admin/brand" class="list-group-item list-group-item-action py-2 ripple"
          ><i class="fas fa-bars fa-fw me-3"></i><span>Brand</span></a
          >
          <a href="/admin/OrderControl" class="list-group-item list-group-item-action py-2 ripple"
            ><i class="fas fa-globe fa-fw me-3"></i><span>User Orders</span></a
          >
          <a href="/admin/ReturnOrder" class="list-group-item list-group-item-action py-2 ripple"
            ><i class="fas fa-undo fa-fw me-3"></i><span>Return Orders</span></a
          >
          <a href="/admin/Banner" class="list-group-item list-group-item-action py-2 ripple"
            ><i class="fas fa-image fa-fw me-3"></i><span>Banner</span></a
          >
          <a href="/admin/Coupons" class="list-group-item list-group-item-action py-2 ripple"
            ><i class="fas fa-building fa-fw me-3"></i><span>Coupons</span></a
          >
          <a href="adLogout" class="list-group-item list-group-item-action py-2 ripple"
            ><i class="fas fa-users fa-fw me-3"></i><span>Logout</span></a
          >
        </div>
      </div>
    </nav>
    <!-- Sidebar -->
    
