<!DOCTYPE html>
<html>
<head>
    <title>Order Placed</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            text-align: center;
        }

        .container {
            background-color: #e69696;
            border: 1px solid #ccc;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            border-radius: 5px;
            padding: 20px;
            margin: 20px auto;
            max-width: 600px;
        }

        h3 {
            color: #333;
        }

        p {
            font-size: 18px;
            margin-bottom: 20px;
        }

        .btn {
            display: inline-block;
            padding: 10px 20px;
            background-color: #007BFF;
            color: #fff;
            text-decoration: none;
            border-radius: 5px;
            margin: 10px;
        }

        .btn-success {
            background-color: #5cb85c;
        }

        .btn-primary {
            background-color: #007BFF;
        }
    </style>
</head>
<body style="align-items: center;">
    <div class="container">
        <h3>Your order has been placed successfully!</h3>
        <p>Your order ID: 000000</p>
        <a class="btn btn-success" href="/user/home">Go to Home</a>
        <a class="btn btn-primary" href="/trackOrder">Track Order</a>
    </div>
</body>
</html>
