<%-include('../userView/include/_header')-%>
   <div class="text-center center-div d-flex align-items-center justify-content-center h-100", id="LoginPage" style="height: 100vh; width: 100%; background:linear-gradient(135deg, #cd26a6, #3027db);">
      <div class="wrapper text-center center-div align-items-center justify-content-center">
         <div class="title">
            Login
         </div>
         <% if(err){ %>
            <h6 class="alert alert-danger" style="margin: 5px;"><%-err%></h6>
       <% } %>
        <% if(locals.logout){%>
            <div class="alter alert-success text-center">
                <%= logout %>
            </div>
           <%}%>
         <form action="/user/login" method="POST">
            <div class="field">
               <input type="text" name="email" id="myInput2" onchange="validateUserEmail()" required>
               <label>Email Address</label>
            </div>
            <p class="msg" id="message2"></p>
            <div class="field">
               <input type="password" name="password"  id="password" onchange="validatePassword();" required>
               <label>Password</label>
            </div>
            <p class="msg" id="message3"></p>
            <br>
            <div class="field">
               <input type="submit" value="Login">
            </div>
            
            <div class="signup-link">
               <a href="/user/forgot-pass">Forgot Password?</a>
           </div>
            <div class="signup-link">
               Not a member? <a href="/user/signup">Signup now</a>
            </div>
         </form>
      </div>
   </div>
<%-include('../userView/include/_footer')-%>

<script src="/javascript/signupScript.js"></script>
