<%-include('../userView/include/user_header')-%>
<div>
<div class="dashbrd text-center" id="HomePage" style="width: 100%; background-color: rgb(159, 146, 66);">
    <a href="" class="btn btn-warning" style="position: absolute;top: 50%;left:12%">Buy Now</a>
    <a href="" class="btn btn-light" style="position: absolute;top: 50%;left:20%">Add To Cart</a>

            <img  src="/images/first.webp" class="d-block w-100" alt="">
       
    <h1 class="text-black pt-4 ">Discover NEW Arrivals</h1>
    <P>Recently added Mobiles!</P>
</div>
</div>
<%-include('../userView/include/user_footer')-%>