<div class="col-5">
    <div class="address-line">Name</div>
    <div class="address-line">Address</div>
    <div class="address-line">Mobile</div>
    <div class="address-line">City</div>
    <div class="address-line">State</div>
    <div class="address-line">Pincode code</div>
</div>