<%-include('../userView/include/_header')-%>

<div class="dashbrd text-center center-div" id="HomePage">
    <h1 class="text-white pt-4">Welcome to Home Page</h1>
    <div class="container w-50 boarder ">
   
        <a href="/user/logout" class="btn btn-success" style="position: absolute;top: 4%;right:4%">logout</a>

    </div>
</div>
<%-include('../userView/include/_footer')-%>